@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		-ms-overflow-style: none;
  		scrollbar-width: none;
		font-family: "Source Sans Pro", system-ui, sans-serif;
		-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
		user-select:none;
	}

	html::-webkit-scrollbar {
  		display: none;
  	}
}

.typed-cursor {
	visibility: hidden;
}
